@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
/* font-family: 'EB Garamond', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f5f1e6;
    font-family: 'Montserrat', sans-serif;
}


/* ============= NAV ============= */
#nav {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 70px;
    width: 100%;
    background-color: #fff;
}

#nav .nav-wraper {
    height: 70px;
    align-items: center;
    flex-wrap: nowrap;
}

/*------ Logo ------*/
#nav .nav-logo {
    /* width: 100%; */
    height: 100%;
}


/*------ Menu ------*/
#nav .nav-menu-wraper .nav-list {
    display: flex;
    padding-left: 45px;
    margin-bottom: 3px;
}

#nav .nav-menu-wraper .nav-list .nav-item {
    list-style: none;
    text-align: center;
    position: relative;
}


#nav .nav-menu-wraper .nav-list .nav-item .line{
    height: 2.5px;
    width: 0;
    
}

#nav .nav-menu-wraper .nav-list .nav-item:hover > .line{
    background-color: #dca447;
    width: 100%;
    transition-duration: .5s;
}

#nav .nav-menu-wraper .nav-list .nav-item:hover > a {
    color: #0f33b3;
    transition-duration: .3s;
}

#nav .nav-menu-wraper .nav-list .nav-item > a {
    text-decoration: none;
    line-height: 70px;
    padding: 0 12px;
    font-size: 13px;
    font-weight: 600;
    color: #000;
    display: inline-block;
}

/*----- Sub menu -----*/
#nav .nav-menu-wraper .nav-list .nav-item .sub-menu-container {
    position: absolute;
    top: 100%;
    background-color: #fff;
    padding: 4px 18px;
    width: 240px;
    border-radius: 4px;
    box-shadow: 0 0 10px #bbb;
    display: none;
}

#nav .nav-menu-wraper .nav-list .nav-item .sub-menu-container li {
    list-style: none;
    text-align: left;
}

#nav .nav-menu-wraper .nav-list .nav-item .sub-menu-container li a {
    text-decoration: none;
    line-height: 40px;
    font-size: 13px;
    font-weight: 600;
    color: #000;
}

#nav .nav-menu-wraper .nav-list .nav-item:hover .sub-menu-container {
    display: block;
}

/*------ Flag ------*/
#nav .nav-flag {
    height: 70px;
    display: flex;
    align-items: center;
}

#nav .nav-flag .vn {
    padding-right: 8px;
}

/*------ Chart ------*/
#nav .nav-chart {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav .nav-chart::before {
    content: "";
    display: block;
    height: 40px;
    border-left: 1px solid #ccc;
}

#nav .nav-chart::after {
    content: "";
    display: block;
    height: 40px;
    border-right: 1px solid #ccc;
}

#nav .nav-chart .chart img {
    width: 40px;
    height: 40px;
}

#nav .nav-chart .chart-text-wrap .chart-text {
    font-size: 12px;
    font-weight: 500;
    color: #162b75;
    line-height: 12px;
}

#nav .nav-chart .chart-text-wrap .chart-price {
    font-size: 14px;
    font-weight: 500;
    padding-top: 8px;
    color: #dca447;
    line-height: 12px;
}

/*------ Search and Login ------*/
#nav .nav-search {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#nav .nav-search .search {
    font-size: 18px;
    cursor: pointer;
}

#nav .nav-search .user {
    font-size: 18px;
    padding: 16px;
}

#nav .nav-search .user a {
    color: #000;
}

#nav .nav-menu .menu {
    font-size: 24px;
    padding: 16px;
    cursor: pointer;
}

/* ------ Side bar ------ */
.side-bar-bg {
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;
}
.open-bg {
    opacity: 1;
    display: block;
}

.side-bar {
    position: fixed;
    z-index: 3;
    background-color: #fff;
    width: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 16px;
    transform: translateX(-100%);
    transition: transform ease .5s;
}

.open-bar {
    transform: translateX(0px);
    transition: transform ease .5s;
}


/*------ Header -------*/
.side-bar .side-bar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.side-bar .side-bar-exit-icon {
    font-size: 24px;
    padding: 12px 16px;
    cursor: pointer;
}

/*------ Chart -------*/
.side-bar .side-bar-chart {
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.side-bar .side-bar-chart .chart img {
    width: 30px;
    height: 30px;
}

.side-bar .chart-text-wrap {
    padding-left: 32px;
    
}
.side-bar .chart-text {
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
    color: #162b75;
}
.side-bar .chart-price {
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
    color: #dca447;
    padding-top: 8px;
}


/*------ Menu -------*/
.side-bar .side-bar-menu-wraper {
    padding-top: 18px;
}

.side-bar .side-bar-item {
    list-style: none;

}
.side-bar .side-bar-item a, p {
    text-decoration: none;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    display: block;
}

.side-bar .side-bar-item a:hover {
    color: #0f33b3;
}

/*------ Drop down -----*/
.side-bar .side-bar-item .drop-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.side-bar .side-bar-item .drop-container {
    padding-left: 16px;
    display: none;
}
.side-bar .side-bar-item .drop-container.open-drop {
    display: block;
    transition-duration: .5s;
}

.side-bar .side-bar-item .drop-container li {
    list-style: none;
}

.side-bar .side-bar-item .drop-container li a {
    font-size: 13px;
}


/*------ Flag -------*/
.side-bar .side-bar-flag {
    display: flex;
    align-items: center;
    padding-top: 8px;
}

.side-bar .side-bar-flag .vn {
    padding-right: 12px;
}



/* ============= SLIDER ============= */
#slider {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 46.63%, rgba(0, 0, 0, 0.5) 100%), url('../img/slider/slider.jpg') no-repeat top/cover;
}

#slider .title-wrap {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .title-wrap .brand-title {
    color: #fff;
    font-family: 'EB Garamond', serif;
    font-size: 40px;
    text-transform: uppercase;

}

#slider .title-wrap .title-about {
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 8px;
}

/*----- Search banner ------*/
#slider .search-banner {
    width: 80%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 14px 32px;
    min-width: 950px;
    border-radius: 4px;
}

#slider .search-banner .place {
    border-right: 1px solid #ccc;
}
#slider .search-banner .submit {
    border-left: 1px solid #ccc;
}

#slider .search-banner .label-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#slider .search-banner .label-container i {
    font-size: 14px;
    padding: 8px 14px;
}

#slider .search-banner .input-container .label {
    font-size: 13px;
    line-height: 24px;
    font-weight: 500;
}

#slider .search-banner .input-container .about-input {
    font-size: 14px;
    line-height: 24px;
}

#slider .search-banner .submit .submit-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider .search-banner .submit input {
    -webkit-appearance: none;
    border: none;
    padding: 12px 12px;
    width: 100%;
    max-width: 150px;
    background-color: #dca447;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
}

/* ============= CONTENT ============= */
#content {
    background-color: #f5f1e6;
}

#content .home-review {
    padding-top: 100px;
    padding-bottom: 40px;
}

#content .home-review .slogan {
    width: 60%;
    margin: 0 auto 50px auto;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    color: #162b75;
}

#content .menu-container {
    background-color: #fff;
    padding: 4px;
    border-radius: 5px;
}

#content .menu-container .menu-wrap {
    border: 0.5px solid #dca447;
    border-radius: 5px;
    padding: 25px 0;
}

#content .menu-container .menu-wrap .title-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-right: 1px solid #ccc;
    text-decoration: none;
}

#content .menu-container .menu-wrap .title-wrap i {
    font-size: 40px;
    margin-right: 24px;
    color: #162b75;
}

#content .menu-container .menu-wrap .title-wrap p {
    line-height: 24px;
    text-transform: uppercase;
    font-size: 13px;
}

/*----- Hope -----*/
#content .home-review .hope-tile {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    width: 60%;
    margin: 40px auto 0 auto;
}


/* ----------- CONTENT SECTION ------- */

#content .content-section {
    background: #f6e9d5;
}

#content .content-section .container {
    padding: 50px 0;
}


/* Text container */
#content .content-section .text-container {
    width: 45%;
    margin-bottom: 40px;
}

#content .content-section .text-container .title {
    font-family: 'EB Garamond', serif;
    font-size: 40px;
    color: #162b75;
    text-transform: uppercase;
}

#content .content-section .text-container .desc {
    font-size: 13px;
    line-height: 1.6;
    font-weight: 500;
    margin: 24px 0;
}

#content .content-section .text-container a {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    padding: 12px;
    border: 1px solid #162b75;
    border-radius: 4px;
    display: inline-block;
}

/*------ main container ------*/
#content .content-section .main-container .sub-container{
    background: #fff;
    border-radius: 4px;
}

#content .content-section .main-container .desc-wrap {
    padding: 40px 30px;
}

#content .content-section .main-container .desc-wrap .slogan {
    font-size: 13px;
    line-height: 1.6;
}

#content .content-section .main-container .desc-wrap .title {
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #dca447;
    margin-top: 8px;
}

#content .content-section .main-container .desc-wrap .desc {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.6;
    margin-top: 24px;
}

#content .content-section .main-container .desc-wrap .link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #162b75;
    padding: 12px 12px 12px 0;
    display: inline-block;
    margin-top: 12px;
}


/*----- IMG -----*/
#content .content-section .main-container .img-wrap {
    width: 100%;
    height: 100%;
}

#content .content-section .main-container .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}


/*-------- CONTENT SECTION 2 --------*/

#content .content-section .main-container .wrap-container {
    height: 400px;
    overflow: hidden;
}


#content .content-section .main-container .img-wraper {
    width: 100%;
    height: 60%;
    transition: .3s;
}

#content .content-section .main-container .wrap-container:hover .img-wraper {
    height: 35%;
    transition: .3s;
}

#content .content-section .main-container .img-wraper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#content .content-section .main-container .wrap-container {
    background-color: #fff;
}

#content .content-section .main-container .text-wrap {
    padding: 24px;
    height: 40%;
}

#content .content-section .main-container .text-wrap .slogan {
    font-size: 13px;
    text-transform: uppercase;
    color: #979797;
}

#content .content-section .main-container .text-wrap .title {
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    color: #dca447;
}

#content .content-section .main-container .text-wrap .desc {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.6;
    margin-top: 50px;
}


/* ----------- CONTENT END ------- */

.content-end {
    background: #18369c ;
}

.content-end .container .text-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 24px;
}

.content-end .container .text-container .slogan {
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.content-end .container .text-container .title {
    margin-top: 16px;
    color: #dca447;
    font-size: 25px;
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
}

.content-end .container .text-container .disc {
    line-height: 1.6;
    margin-top: 16px;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
}

/*----- img -----*/

.content-end .container .img-container {
    width: 100%;
    height: 100%;
}

.content-end .container .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ============= FOOTER ============= */
#footer {
    padding: 60px 0;
}

#footer .footer-item .item-header {
    font-size: 16px;
}
#footer .footer-item .item-header.double {
    margin-top: 30px;
}
#footer .footer-item .item-list {
    margin-top: 16px;
}

#footer .footer-item .item-list li {
    list-style: none;
} 

#footer .footer-item .item-list li a{
    text-decoration: none;
    line-height: 40px;
    font-size: 13px;
    font-weight: 600;
    color: #000;
} 


/*----- Social media -----*/
#footer .social-media {
    margin-top: 50px;
}

#footer .social-media .line {
    height: 0.5px;
    background-color: #000;
    align-self: center;
}

#footer .social-media .brand-logo {
    display: flex;
    justify-content: space-evenly;
}

#footer .social-media .brand-logo .logo-icon {
    font-size: 24px;
    padding: 8px;
}

#footer .social-media .brand-logo .logo-icon.fb:hover {
    color: #4080FF;
    transition-duration: .3s;
    cursor: pointer;
}

#footer .social-media .brand-logo .logo-icon.youtube:hover {
    color: red;
    transition-duration: .3s;
    cursor: pointer;
}

#footer .social-media .brand-logo .logo-icon.insta:hover {
    color: purple;
    transition-duration: .3s;
    cursor: pointer;
}


/*------ Info ------*/
.vin-info {
    margin-top: 32px;
}
.vin-info .contact {
    display: flex;
    flex-wrap: wrap;
}
.vin-info .contact .logo-container {
    width: 33.333%;
    display: flex;
    justify-content: center;
}

.vin-info .contact .logo-container .logo {
    width: 130%;
    max-width: 120px;
}

.vin-info .contact .contact-wrap {
    width: 66.6667%;
    padding: 0 12px;
}


.vin-info .contact .contact-wrap .address {
    font-size: 11px;
    line-height: 1.6;
}
.vin-info .contact .contact-wrap .hotline-wrap {
    display: flex;
    background-color: #dca447;
    margin: 18px 0;
    border-radius: 4px;
    max-width: 260px;
}

.vin-info .contact .contact-wrap .hotline-wrap:hover {
    background-color: #1a2948;
    transition-duration: .3s;
}

.vin-info .contact .contact-wrap .hotline-wrap a {
    text-decoration: none;
    color: #fff;
    padding: 8px 18px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.vin-info .contact .contact-wrap .hotline-wrap a:hover {
    color: #4080FF;
    transition-duration: .3s;
}

.vin-info .contact .contact-wrap .hotline-wrap .hotline {
    padding-left: 0;
}

.vin-info .contact .contact-wrap .hotline-wrap .hotline::before {
    content: "";
    display: inline-block;
    width: 0px;
    height: 30px;
    padding-right: 18px;
    border-left: 1px solid #fff;
    
}

.vin-info .contact .contact-wrap .copyright {
    font-size: 11px;
    line-height: 1.6;
}

/*------ Register ------*/
.vin-info .register .label {
    font-size: 14px;
    margin: 12px;
    font-weight: 600;
    color: #dca447;
    text-align: center;

}

.vin-info .register input {
    padding: 16px 16px;
    display: block;
    width: 100%;
    margin-bottom: 8px;
    border: none;
    border-radius: 4px;
}

.vin-info .register input.submit {
    background-color: #dca447;
    color: #fff;
    margin: 16px 0;
    -webkit-appearance: none; /*Xóa bỏ mặc định*/
}

.vin-info .register input.submit:hover {
    opacity: 0.8;
    transition-duration: .3s;
}

.vin-info .register .resgister-add {
    font-size: 11px;
    line-height: 1.6;
}


/*------- footer menu -------*/
#footer .menu-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#footer .menu-container .menu-item {
    margin-bottom: 20px;
    padding: 0 24px;
    text-align: center;
}

#footer .menu-container .menu-item a {
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

#footer .menu-container .menu-item a:hover {
    color: #4080FF;
    transition-duration: .3s;
}