* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

html {
    /* font-family: Arial, Helvetica, sans-serif; */
}

.main {}

header {
    padding-top: 10px;
    background: url("../img/header2.jpg") top center/ cover no-repeat;
    height: 97vh;
}

.nav {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    height: 47px;
    /* display: none; */
}

.header--right {
    display: flex;
    margin: 0;
}

.header--left {
    display: flex !important;
}

.header {
    margin-right: 20px;
}

.header__img--link {}

.content__header {}

.content__header__nav {
    z-index: 999;
    display: flex;
}

.header--left .content__header__nav li {
    list-style-type: none;
    margin: 0 20px;
}

.header--right .content__header__nav li {
    list-style-type: none;
    margin: 0 15px;
}

.content__header__nav li a {
    text-decoration: none;
    line-height: 47px;
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 550;
    position: relative;
}

.content__header__nav li a i {}

.icon__nav--left {
    margin-left: 4px;
    position: absolute;
    /* right: -10%; */
    bottom: 40%;
    font-size: 12px;
}


/* .header--left .content__header ul li a:hover{
    border-bottom:2px solid #C57B1C;
    animation: nav--border linear 0.3s;
}
@keyframes nav--border {
    from{

        border-bottom:0px solid #C57B1C;
    }
    to{
        border-bottom:3px solid #C57B1C;
    }
} */

.header--left .content__header ul li a::after {
    content: " ";
    width: 0px;
    background-color: #C57B1C;
    position: absolute;
    bottom: 0;
    left: 50%;
    /* transform: translateX(-50%); */
    height: 2px;
    transition: 0.5s;
}

.header--left .content__header ul li a:hover::after {
    width: 100%;
    left: 0;
    /* right: 0; */
    animation: nav--border linear 0.3s;
}

.content__header__nav li {
    /* position: relative; */
}

.content__header__nav__active li a {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 200;
}

.content__header__nav>li:hover .content__header__nav__active {
    display: block;
}

.icon--user {
    font-size: 30px !important;
    font-weight: 100;
}

.nav--flag {
    padding-top: 10px;
}

.icon--flag {
    margin-top: -10px;
    width: 30px;
    height: 30px;
    border-radius: 60%;
}

.icon--store {
    margin-right: 8px;
}


/* reponsive nav*/

.nav__center {
    display: none;
    justify-content: space-between;
}

.nav__child__img {
    /* background-color: saddlebrown; */
    padding-bottom: 10px;
}

.icon__user--mobile {
    padding-top: 10px;
    padding-left: 15px;
}

.icon--user--mobile {
    font-size: 30px;
    color: #fff;
}

.icon--bar {
    padding-top: 10px;
    padding-right: 15px;
}

.nav__child {
    /* display: none; */
    position: fixed;
    background-color: #fff;
    width: 350px;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    padding: 15px;
    animation: nav__child--run linear 0.2s;
}

@keyframes nav__child--run {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.nav--right {
    display: none;
    /* justify-content: right; */
    /* flex-direction: row-reverse; */
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 999;
    line-height: 20px;
}

.nav--child--open {
    display: flex;
}

.icon--bar {
    font-size: 30px;
    color: #fff;
}

.nav__child__header {
    font-size: 14px;
    /* margin-top: 40px; */
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.nav__child__header .nav__child__header--list li i {
    min-width: 30px;
}

.nav__child__header--list li {
    line-height: 40px;
    position: relative;
}

.nav__child__header--list li a {
    color: rgba(0, 0, 0, 0.69);
    font-weight: 600;
    font-size: 14px;
    display: inline;
    /* display: block; */
    position: relative;
}

.nav__child__header--list {
    list-style: none;
    line-height: 30px;
}

.nav__child__header--list li {}

.nav__child__header--list--flag {}

.flag__minWidth {
    margin-right: 8px;
}

.icon--flag--mobile {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    /* margin-top: px; */
}

ul li a {
    text-decoration: none;
}

.nav__child__footer {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.icon--left {
    /* margin-left: 5px; */
    font-size: 12px;
    position: absolute;
    right: -30%;
    bottom: 25%;
}


/* header search

*/

.header__content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
}

.header__content--boder {
    z-index: 0;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    /*mờ màu*/
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    position: absolute;
    top: 35%;
}

.header__content__from {
    display: flex;
    color: #fff;
    position: absolute;
    top: 31%;
    /* margin: 0 20px; */
}

.header__content__from h3 {
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 10px;
    font-size: 15px;
    text-shadow: 0px 0px 1px rgb(133, 132, 132);
}

.box__search {
    border-radius: 5px;
}

.header__content__search {
    display: flex;
}

.header__content__search {}

.header__content__search--input input {
    width: 390px;
    height: 50px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #b9b9b9;
    outline: none;
    padding: 20px 12px;
    color: #a4a5a7;
    font-weight: 300;
    font-size: 16px;
}

.header__content__search--btn {}

.header__content__search--btn button {
    height: 50px;
    width: 150px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 16px;
}

.header__content__search--btn button i {
    color: #a4a5a7;
}

.header__content__menu {
    margin-top: 20px;
    font-size: 16px;
}

.header__content__menu a {
    margin-right: 45px;
    color: #fff;
    text-decoration: none;
    position: relative;
}

.header__content__menu a ul {
    display: none;
    position: absolute;
    list-style: none;
    background-color: #fff;
    color: #000;
    min-width: 200px;
    font-weight: 100;
    border-radius: 5px;
    opacity: 0;
    transition: 0.5s;
}

.header__content__menu a:hover ul {
    display: block;
    opacity: 1;
}

.header__content__menu a ul li {
    line-height: 30px;
    padding: 4px 10px;
    transition: 0.5s;
}

.header__content__menu a ul li:hover {
    background-color: #ccc;
}

.header__content__menu a i {
    margin-left: 10px;
}

.slider,
.grid,
.wide {
    /* margin-top: 70px; */
}

.slider {
    /* overflow: hidden; */
}

.slider__content {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* giữa chiều ngang*/
    /*giữa chiều dọc*/
}

.slider__content__left {
    width: 40%;
    /* display: none; */
}

.slider__content--title {
    font-weight: 200px;
    font-size: 30px;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.8);
    /* color: #a4a5a7; */
}

.slider__content--16px {
    font-size: 16px;
    margin-top: 30px;
    color: rgba(49, 47, 47, 0.7);
    text-align: justify;
    /* line-height: 25px; */
    line-height: 1.4;
}

.slider__content__left button {
    height: 40px;
    width: 200px;
    border-radius: 5px;
    margin-top: 25px;
}

button {
    color: #fff;
    font-weight: 550;
    font-size: 14px;
    background-color: #162b75;
    border: 1px solid #2647bc;
    cursor: pointer;
}

.slider__content2 {
    padding-top: 70px;
    display: flex;
}

.slider__content__img {
    width: 50%;
}

.slider__content__img img {
    width: 100%;
}

.slider__content__right {
    padding-top: 70px;
    width: 43%;
}

.slider__content__img--padding {
    padding-right: 25px;
}

.slider__content__right--imgSearch {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 15px;
}

.slider__content__right--imgSearch img {
    width: 80px;
    margin: 0 3px;
    cursor: pointer;
}

.slider__content2__footer {
    font-size: 16px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.icon__right {
    margin-left: 15px;
}


/* special */

.slider__content__special {
    padding-top: 70px;
    /* height: 1000px; */
}

.font--special {
    font-size: 30px;
    font-weight: 100;
    font-family: monospace;
    letter-spacing: 1px;
}

.slider__content__special__apartment {
    display: flex;
    padding: 45px 0 40px 0;
    flex-wrap: wrap;
    justify-content: space-around;
}

.slider__content__special--border {
    width: 25%;
    padding: 0 8px;
}

.slider__apartment {
    height: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 15px 10px 24px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.5s;
}

.slider__apartment:hover {
    transform: scale(1.02)
}

.slider__apartment--img1 {
    background: url("../img/room11.jpg") center / cover no-repeat;
}

.slider__apartment--img2 {
    background: url("../img/room2.jpg") center / cover no-repeat;
}

.slider__apartment--img3 {
    background: url("../img/căn\ hộ\ 1.png") center / cover no-repeat;
}

.slider__apartment--img4 {
    background: url("../img/căn\ hộ\ 4.png") center / cover no-repeat;
}

.slider--status {
    display: flex;
    justify-content: space-between;
}

.slider--status p {
    color: #000;
    font-size: 12px;
    background-color: #fff;
    padding: 2px 10px;
    border-radius: 5px;
    font-weight: 750;
    margin-left: 10px;
}

.slider--status i {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
    margin-right: 24px;
    transition: 0.5s;
}

.slider--status i:hover {
    transform: scale(1.22);
    cursor: pointer;
}

.tym {
    color: #f56f6f !important;
}

.slider__apartment__title {
    color: #fff;
    padding-left: 15px;
    font-size: 16px;
}

.slider__apartment__title h3 {
    margin-bottom: 10px;
    /* text-shadow: 0 0 1px #000; */
}

.slider__apartment__title ul {
    display: flex;
    color: #ecebeb;
    /* justify-content: space-around; */
    list-style: none;
    font-size: 12px;
}

.slider__apartment__title ul li {
    position: relative;
}

.slider__apartment__title ul li:nth-child(1),
.slider__apartment__title ul li:nth-child(2),
.slider__apartment__title ul li:nth-child(3) {
    padding-right: 16px;
}

.content--affter::after {
    content: " ";
    position: absolute;
    height: 10px;
    background-color: #ecebeb;
    width: 1px;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.slider__apartment__title ul li:nth-child(1) {
    /* padding-left: 0; */
}

.slider__apartment__price {
    margin-top: 24px;
    color: #ccc;
    font-weight: 600;
    font-size: 16px;
    text-align: right;
    text-shadow: 0 0 1px #000;
}


/* Dự án  */

.slider__project {
    padding-top: 70px;
    /* height: 1000px; */
}

.slider__project__list {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    transition: 0.5s;
}

.slider__project__list--border {
    padding-right: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    width: 375px;
}

.slider__project__list--border:hover {
    transform: scale(1.02);
}

.slider__project__list__product {}

.slider__project__list__product--img {
    height: 215px;
    padding: 10px 8px;
    border-radius: 7px;
}

.background__project--1 {
    background: url("../img/du\ an\ 1.jpg") center/ cover no-repeat;
}

.background__project--2 {
    background: url("../img/du\ an2.jpg") center/ cover no-repeat;
}

.slider__project__list__product--img p {
    height: 20px;
}

.slider__project__list__product__footer {
    padding: 25px 30px 25px 20px;
    border-radius: 5px;
    box-shadow: 5px 15px 30px 5px rgba(0, 0, 0, 0.07);
}

.product__footer__content {}

.product__footer__content h3 {
    font-size: 16px;
}

.product__footer__content>p {
    margin-top: 15px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.product__footer__content__price {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.product__footer__content__price p:nth-child(1) {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

.product__footer__content__price p:nth-child(2) {
    font-size: 16px;
    font-weight: 550;
}


/* reason  */

.slider__reason {
    padding-top: 70px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between
}

.slider__reason__box {
    width: 66.667%;
}

.slider__reason__img {
    position: relative;
}

.slider__reason__img--after {
    position: absolute;
    max-width: 590px;
    top: 0;
    left: 0;
}

.slider__reason__img--front {
    position: absolute;
    max-width: 360px;
    top: 150px;
    left: 360px;
}

.slider__reason__img img {
    border-radius: 6px;
    width: 100%;
}

.slider__reason__content {
    width: 33, 333%;
}

.slider__reason__content__title {
    font-size: 30px;
    line-height: 40px;
    font-weight: lighter;
    max-width: 485px;
    font-family: monospace;
    letter-spacing: 1px;
}

.slider__reason__content__list {
    font-size: 14px;
    margin-top: 50px;
}

.slider__reason__content__list li {
    margin-top: 30px;
    list-style: none;
    color: rgba(0, 0, 0, 0.7);
}

.slider__reason__content__list li i {
    margin-right: 20px;
    font-size: 18px;
    color: #e0af5e;
}


/* advertisement */

.slider__advertisement {
    padding-top: 150px;
}

.slider__advertisement__title {}

.slider__advertisement__ad {
    padding-top: 40px;
    display: flex;
    margin-bottom: 30PX;
}

.slider__advertisement__ad__img {
    width: 66.667%;
    padding-right: 50px;
}

.slider__advertisement__ad__img img {
    width: 100%;
}

.slider__advertisement__ad__content {
    width: 33.333%;
    padding: 0 46px 0 0px;
}

.slider__advertisement__ad__content p {
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
    max-width: 320px;
    /* max-width: 100%; */
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.5);
}

.slider__advertisement__ad__content__title {
    font-size: 16px;
}

.slider__advertisement__ad__content__title--btn {
    font-size: 14px;
    min-width: 170px;
    padding: 0px 0px 0px 25px;
    border-radius: 5px;
    line-height: 40px;
    text-align: left;
    margin-top: 50px;
}

.slider__instruct {
    margin-top: 70px;
    background: url("../img/background_help.png")center/ cover no-repeat;
    max-height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 60px;
    /* overflow: initial */
    box-shadow: 5px 15px 30px 5px rgba(0, 0, 0, 0.07);
}

.slider__instruct__title {
    font-size: 30px;
}

.slider__instruct__title__content {
    font-size: 16px;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.slider__instruct__buy {
    padding: 50px;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 485px;
    min-height: 330px;
    background-color: #fff;
    text-align: center;
    line-height: 1.5;
}

.slider__instruct__buy h4 {}

.slider__instruct__buy__link {}

.slider__instruct__buy__link__img {}

.slider__instruct__buy__title {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 8px;
}

.slider__instruct__buy__content {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}


/* news */

.slider__news {
    margin-top: 70px;
    margin-bottom: 70px;
    /* margin: 70px -10px; */
    /* margin-left: -20px; */
}

.slider__news__title {
    display: flex;
    justify-content: space-between;
}

.slider__news__contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 400px;
    margin-top: 40px;
    margin: 50px -10px 0 -10px;
}

.slider__news__content__big {
    width: 50%;
    /* display: none; */
}

.slider__news__content {
    width: 100%;
    border-radius: 5px;
    border: 10px solid #fff;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    font-weight: 800;
    font-size: 14px;
    /* text-shadow: 0 1px rgba(0, 0, 0, 0.4); */
    /* margin: 10px; */
    transition: 0.5s;
    opacity: 0.96;
}

.slider__news__content:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.news--img1 {
    background: url("../img/news1.jpeg") center/ cover no-repeat;
}

.news--img2 {
    background: url("../img/news2.jpg") center/ cover no-repeat;
}

.news--img3 {
    background: url("../img/news3.jpeg") center/ cover no-repeat;
}

.news--img4 {
    background: url("../img/news4.jpg") center/ cover no-repeat;
}

.news--img5 {
    background: url("../img/news5.jpeg") center/ cover no-repeat;
}

.slider__news__content__title {
    line-height: 1.5;
}

.slider__news__contents__small {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

.news--big {
    height: 100%;
    /* display: none; */
}

.news--small {
    height: 50%;
    width: 50%;
}


/* footer
 */

.item-header {
    color: #172d77;
}

.border__footer {
    border-top: 3px solid #dea84f;
}

#footer {
    padding: 60px 0;
}

.background_-footer {
    background-color: #fff8e7;
}

#footer .footer-item {}

#footer .footer-item .item-header {
    font-size: 16px;
}

#footer .footer-item .item-header.double {
    margin-top: 30px;
}

#footer .footer-item .item-list {
    margin-top: 16px;
}

#footer .footer-item .item-list li {
    list-style: none;
}

#footer .footer-item .item-list li a {
    text-decoration: none;
    line-height: 40px;
    font-size: 13px;
    font-weight: 600;
    color: #000;
}


/* ------- Social media ------ */

#footer .social-media {
    margin-top: 50px;
}

#footer .social-media .line {
    height: 0.5px;
    background-color: #000;
    align-self: center;
}

#footer .social-media .brand-logo {
    display: flex;
    justify-content: space-evenly;
}

#footer .social-media .brand-logo .logo-icon {
    font-size: 24px;
    padding: 8px;
}

#footer .social-media .brand-logo .logo-icon.fb:hover {
    color: #4080FF;
    transition-duration: .3s;
    cursor: pointer;
}

#footer .social-media .brand-logo .logo-icon.youtube:hover {
    color: red;
    transition-duration: .3s;
    cursor: pointer;
}

#footer .social-media .brand-logo .logo-icon.insta:hover {
    color: purple;
    transition-duration: .3s;
    cursor: pointer;
}


/*-- --------- Info --------- --*/

.vin-info {
    margin-top: 32px;
}

.vin-info .contact {
    display: flex;
    flex-wrap: wrap;
}

.vin-info .contact .logo-container {
    width: 33.333%;
    display: flex;
    justify-content: center;
}

.vin-info .contact .logo-container .logo {
    width: 130%;
    max-width: 120px;
}

.vin-info .contact .contact-wrap {
    width: 66.666%;
    padding: 0 12px;
}

.vin-info .contact .contact-wrap .address {
    font-size: 11px;
    line-height: 1.6;
}

.vin-info .contact .contact-wrap .hotline-wrap {
    display: flex;
    background-color: #dca447;
    margin: 18px 0;
    border-radius: 4px;
    max-width: 260px;
}

.vin-info .contact .contact-wrap .hotline-wrap:hover {
    background-color: #1a2948;
    transition-duration: .3s;
}

.vin-info .contact .contact-wrap .hotline-wrap a {
    text-decoration: none;
    color: #fff;
    padding: 8px 18px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.vin-info .contact .contact-wrap .hotline-wrap a:hover {
    color: #4080FF;
    transition-duration: .3s;
}

.vin-info .contact .contact-wrap .hotline-wrap .hotline {
    padding-left: 0;
}

.vin-info .contact .contact-wrap .hotline-wrap .hotline::before {
    content: "";
    display: inline-block;
    width: 0px;
    height: 30px;
    padding-right: 18px;
    border-left: 1px solid #fff;
}

.vin-info .contact .contact-wrap .copyright {
    font-size: 11px;
    line-height: 1.6;
}


/*------------- Register -------------*/

.vin-info .register {}

.vin-info .register .label {
    font-size: 14px;
    margin: 12px;
    font-weight: 600;
    color: #dca447;
    text-align: center;
}

.vin-info .register input {
    padding: 16px 16px;
    display: block;
    width: 100%;
    margin-bottom: 8px;
    border: none;
    border-radius: 4px;
}

.vin-info .register input.submit {
    background-color: #dca447;
    color: #fff;
    margin: 16px 0;
    -webkit-appearance: none;
    /*Xóa bỏ mặc định*/
}

.vin-info .register input.submit:hover {
    opacity: 0.8;
    transition-duration: .3s;
}

.vin-info .register .resgister-add {
    font-size: 11px;
    line-height: 1.6;
}


/* ------------- footer menu -------------- */

#footer .menu-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#footer .menu-container .menu-item {
    margin-bottom: 20px;
    padding: 0 24px;
    text-align: center;
}

#footer .menu-container .menu-item a {
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

#footer .menu-container .menu-item a:hover {
    color: #4080FF;
    transition-duration: .3s;
}